.channelRow{

    display:flex;
    align-items: center;
    width: 70%;
    
}

.dot{
font-size: 5px !important;
color: rgb(0, 0, 0) !important;
}
.tick{
    color: green;
    font-size: 20px !important;
}
.channelRow__text{
    display: flex;
    flex-direction: column;
    
}
.channelRow__text > p{
    color: #606060;
    font-size: small !important;
    
}
.channelRow__logo{
    
    height: 120px !important;
    width: 120px !important;
    margin: 10px 60px;
}
.channelRow__text > h4{
    display: flex;
    align-items: center !important;
    justify-content: space-between;
}
